@{
    ViewData["Title"] = "Games Currently Being Played";
}

<h1>@ViewData["Message"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Person
            </th>
            <th>
                Game
            </th>
            <th>
                Rating
            </th>
            
        </tr>
    </thead>
    <tbody id="Table">
        </tbody>
</table>

@section Scripts{
    <script defer src="~/js/personGameList.js"></script>
}